<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="./login.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form th:action="@{/login}" method="post" th:object="${user}">
        <label>Email:</label>
        <input type="email" th:field="*{email}" required />

        <label>Password:</label>
        <input type="password" th:field="*{password}" required />

        <button type="submit">Log In</button>
      </form>
      <p
        style="color: rgb(48, 156, 40)"
        th:if="${message}"
        th:text="${message}"
      ></p>

      <p style="color: red" th:if="${error}" th:text="${error}"></p>
    </div>
  </body>
</html>
