<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organization Sign Up</title>
    <link rel="stylesheet" href="./signup.css" />
    <!-- Use FontAwesome from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
  </head>
  <body>
    <div class="signup-container">
      <h2>Organization Sign Up</h2>

      <form
        id="signupForm"
        method="POST"
        th:action="@{organization-signup}"
        th:object="${user}"
      >
        <div class="input-group">
          <i class="fas fa-building"></i>
          <input
            type="text"
            th:field="*{organizationName}"
            name="organizationName"
            placeholder="Organization Name"
            required
          />
        </div>
        <div class="input-group">
          <i class="fas fa-envelope"></i>
          <input
            type="email"
            th:field="*{email}"
            name="email"
            placeholder="Organization Email"
            required
          />
        </div>
        <div class="input-group">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            th:field="*{password}"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit">sign up</button>
      </form>

      <a href="/login" class="btn btn-lg cta-btn"
        >Already have an account? Login</a
      >
    </div>
  </body>
</html>
